/* CSS Class */

.retangulo1 {
    height: 300;
    opacity: 0.8500000238418579;
    background-color: #FF1A9D34;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.retanguloCinza {
    opacity: 1;
    background-color: #c3c3c3;
    border-radius: 20;
    padding: 20;
}